How many Mans are in this Dataset ?

In [5]:
import pandas as pd
df =pd.read_csv('Smartphone_Usage_Productivity_Dataset_50000.csv')
count = df['Gender'].value_counts()['Male']
print(count)

16708

How many Womens are in this Dataset ?

In [ ]:
import pandas as pd
df =pd.read_csv('Smartphone_Usage_Productivity_Dataset_50000.csv')
count = df['Gender'].value_counts()['Female']
print(count)

16679

How many other gender

In [5]:
import pandas as pd
df =pd.read_csv('Smartphone_Usage_Productivity_Dataset_50000.csv')
count = df['Gender'].value_counts()['Other']
print(f'Are Other {count}')

Are Other 16613

In [2]:
import pandas as pd
df =pd.read_csv('Smartphone_Usage_Productivity_Dataset_50000.csv')
female = df['Gender'].value_counts()['Female']
male = df['Gender'].value_counts()['Male']
other = df['Gender'].value_counts()['Other']

print(f'total are {female + male + other}')

total are 50000

learnig how to use shape

In [31]:
import pandas as pd

df = pd.read_csv('Smartphone_Usage_Productivity_Dataset_50000.csv')
#df.shape
print(f' The document has {df.shape[0]} lines and {df.shape[1]} columns ')

 The document has 50000 lines and 13 columns

Creating my dataframe

In [47]:
import pandas as pd


#creating my dataframe 
charcters = pd.DataFrame({
    'name': ['Gustavo', 'Leon', 'kratos'], # first column names with 3 values strings/object
    'age': [18 , 20 , 25], #second column age with 3 values int64
    'its_hero?': [True, False, True], #thirt column with 3 values bool
    'weight': [80.5, 75.3, 90.6] #fourth column with 3 values float64
})

# charcters.info()
print(charcters)

      name  age  its_hero?  weight
0  Gustavo   18       True    80.5
1     Leon   20      False    75.3
2   kratos   25       True    90.6

In [ ]:
charcters_rename = charcters.rename(columns={
    'name' : 'Full name',  #rename the column but only create a copy
})
print(charcters_rename)

  Full name  age  its_hero?  weight
0   Gustavo   18       True    80.5
1      Leon   20      False    75.3
2    kratos   25       True    90.6

In [ ]:
charcters.rename(columns={
    'name' : 'Full name'       #after we use inplace true, doesnÂ´t create a copy, change the real name. so when we call the df after this code the column name now is Full name
}, inplace=True)

print(charcters)

  Full name  age  its_hero?  weight
0   Gustavo   18       True    80.5
1      Leon   20      False    75.3
2    kratos   25       True    90.6